@using Microsoft.AspNet.Identity
<div class="admin-header">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="navbar-header col-xs-4">

                    <a id="logo" class="navbar-brand" href="@Url.Action("Index", "Home", new {Area = "Admin"})">
                        <img src="@Url.Content("~/Content/images/logo.svg")" alt="greenzorro" />
                        <h2 class="relative">
                            greenzorro
                            <span class="version">admin</span>
                        </h2>
                        <span class="version mobile">admin</span>
                    </a>
                    @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-collapse-section">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-top-bar"></span>
                    <span class="icon-bar icon-middle-bar"></span>
                    <span class="icon-bar icon-bottom-bar"></span>
                </button>*@
                </div>


                <div class="navigation-menu pull-right">
                    <ul class="cl-effect">
                        <li><a href="@Url.Action("Users", "Manage", new {Area = "Admin"})">Users</a></li>
                        <li><a href="@Url.Action("Roles", "Manage", new {Area = "Admin"})">Roles</a></li>
                        <li><a href="@Url.Action("Index", "EmailTemplates", new {Area = "Admin"})">Emails</a></li>
                        <li><a href="@Url.Action("Index", "Logs", new {Area = "Admin"})">Logs</a></li>
                        <li><a href="@Url.Action("Index", "DynamicPages", new {Area = "Admin"})">Dynamic Pages</a></li>
                    </ul>
                </div>

                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "pull-right", Area = "Admin" }))
                    {
                        @Html.AntiForgeryToken()
                        <span class="user-info">
                            <span class="user-avatar dropdown-toggle" id="user-dropdown" data-toggle="dropdown">
                                <span class="user-initials img-circle">
                                    <span class="user-initials-text">IN</span>
                                </span>
                            </span>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><h5>@User.Identity.GetUserName()</h5></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="text-center" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                            </ul>
                        </span>
                    }
                }


                <div class="dropdown mobile-menu">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="dropdown">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar icon-top-bar"></span>
                        <span class="icon-bar icon-middle-bar"></span>
                        <span class="icon-bar icon-bottom-bar"></span>
                    </button>
                    <ul class="dropdown-menu cl-effect">
                        <li><a href="@Url.Action("Users", "Manage", new {Area = "Admin"})">Users</a></li>
                        <li><a href="@Url.Action("Roles", "Manage", new {Area = "Admin"})">Roles</a></li>
                        <li><a href="@Url.Action("Index", "EmailTemplates", new {Area = "Admin"})">Emails</a></li>
                        <li><a href="@Url.Action("Index", "Logs", new {Area = "Admin"})">Logs</a></li>
                        <li><a href="@Url.Action("Index", "DynamicPages", new {Area = "Admin"})">Dynamic Pages</a></li>
                    </ul>
                </div>


            </div>
        </div>
    </nav>
</div>
