<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>

    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/fa")
    @Styles.Render("~/css/modules")
    @Styles.Render("~/css/app")
    <style 
</head>
<body>
<div>
    @RenderBody()
</div>
</body>
</html>
