<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>

    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/fa")
    @Styles.Render("~/css/modules")
    @Styles.Render("~/css/app")
</head>
<body>
<div>
    @RenderBody()
</div>
    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/bootstrap")
    @RenderSection("scripts")
</body>
</html>
