@model gzDAL.Models.CarouselEntry

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CarouselEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BackroudImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BackroudImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Live)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Live)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiveFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiveFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiveTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiveTo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
