@model gzWeb.Models.CustomerDTO
@{
    Layout = "~/Areas/Mvc/Views/Shared/_InvestmentsLayout.cshtml";
}

<div class="container">
    <h1 class="text-center">
        <span class="glyphicon-euro"> @Html.DisplayFor(model => model.InvBalance)</span>
    </h1>
    <p class="text-center">Your @*investment balance*@bonus balance allocated to investments.</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="k-block">
                <div class="panel-body">
                    Gaming Activities
                </div>

                <table class="table">
                    <tr>
                        <th>Cash In</th>
                        <td><span class="glyphicon-euro">@Html.DisplayFor(model => model.TotalDeposits)</span></td>
                    </tr>

                    <tr>
                        <th>Cash Out</th>
                        <td><span class="glyphicon-euro">@Html.DisplayFor(model => model.TotalWithdrawals)</span></td>
                    </tr>

                    <tr>
                        <th>Balance</th>
                        <td><span class="glyphicon-euro">@Html.DisplayFor(model => model.GamBalance)</span></td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="col-md-6">
            <div class="panel panel-default table">
                <table class="table">
                    <tr>
                        <td>You have invested</td>
                        <td><span class="glyphicon-euro">@Html.DisplayFor(model => model.TotalInvestments)</span></td>
                    </tr>

                    <tr>
                        <td>You have gained</td>
                        <td><span class="glyphicon-euro">@Html.DisplayFor(model => model.TotalInvestmReturns)</span></td>
                    </tr>
                </table>
            </div>
            <br />
            <div class="panel panel-default table">
                <div class="panel-body">
                    <strong>Investment vintages</strong>
                </div>

                <table class="table" id="listView"></table>
                <div id="pager"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="k-block">
                <p>Next investment on:</p>
                <p><strong>@DateTime.Now.AddMonths(1).AddDays(-1).ToString("MMMM d")</strong></p>
                <p>Investment amount:</p>
                <p><strong><span class="glyphicon-euro">@Html.DisplayFor(model => model.LastInvestmentAmount)</span></strong></p>
                <p>*Status as of @DateTime.Now.ToString("MMM d, h:mm tt") - 50% of net losses (cach in - cash out - @*investment balance*@bonus balance allocated to investments)</p>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/_app/Views/Investments/index.js"></script>
}