@using System.Globalization
@{
    Layout = "~/Areas/Mvc/Views/Shared/_InvestmentsLayout.cshtml";
}

<div class="summary">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <div class="investments-balance-amount text-gz">
                    <img src="@Url.Content("~/Content/Images/line.svg")" alt="Line" />
                    <span>{{model.InvestmentsBalance | currency : model.Currency : 0}}</span>
                    <img src="@Url.Content("~/Content/Images/line.svg")" alt="Line" />
                </div>
                <div class="investments-balance-descr">
                    Investment balance
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-6 col-lg-push-3">
            <div class="summary-section investments-overview">
                <div class="text-center">
                    <img src="@Url.Content("~/Content/Images/invest.svg")" alt="Diagram" class="icon" />
                </div>
                <div class="overview-box">
                    <div class="half">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6" ng-class="{'text-center': xs, 'text-left': !xs}">Invested</div>
                            <div class="col-xs-12 col-sm-6" ng-class="{'text-center': xs, 'text-right': !xs}">{{model.TotalInvestments | currency : model.Currency : 0}}</div>
                        </div>
                    </div>
                    <div class="half">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6" ng-class="{'text-center': xs, 'text-left': !xs}">Gained</div>
                            <div class="col-xs-12 col-sm-6" ng-class="{'text-center': xs, 'text-right': !xs}">{{model.TotalInvestmentsReturns | currency : model.Currency : 0}}</div>
                        </div>
                    </div>
                </div>
                <div class="vintages-box">
                    <div class="vintages-box-table">
                        <div class="vintages-box-table-head">
                            <div class="row">
                                <div class="col-xs-12 text-left"><b>Investment vintages</b></div>
                                <!--<div class="col-xs-6 text-left">Vintage</div>
                                <div class="col-xs-6 text-right">Invested</div>-->
                            </div>
                        </div>
                        <div class="vintages-box-table-body">
                            <div class="row" ng-repeat="vintage in lastVintages">
                                <div class="col-xs-6 text-left">{{vintage.Date | date : 'MMMM'}}</div>
                                <div class="col-xs-6 text-right">{{vintage.InvestAmount | currency : model.Currency : 0}}</div>
                                <!--<div class="col-xs-4 text-right"><span ng-if="vintage.returnPercent > 0">+</span>{{vintage.ReturnPercent}}%</div>-->
                            </div>
                        </div>
                        <div class="vintages-box-table-foot">
                            <a class="showmore" ng-click="showAllVintages()">
                                <img src="@Url.Content("~/Content/Images/plus.svg")" alt="Show More" class="pull-left" />
                                <span class="pull-left">SHOW MORE</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3 col-lg-pull-6">
            <div class="summary-section gaming-activities">
                <div class="text-center">
                    <img src="@Url.Content("~/Content/Images/diagram.svg")" alt="Diagram" class="icon" />
                </div>
                <div class="side-box">
                    <div class="side-box-table">
                        <div class="side-box-table-head">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4>Gaming Activities</h4>
                                </div>
                            </div>
                        </div>
                        <div class="side-box-table-body">
                            <div class="row">
                                <div class="col-xs-6 text-left">Cash In</div>
                                <div class="col-xs-6 text-right">{{model.TotalDeposits | currency : model.Currency : 0}}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 text-left">Cash Out</div>
                                <div class="col-xs-6 text-right">{{model.TotalWithdrawals | currency : model.Currency : 0}}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 text-left">Current Balance</div>
                                <div class="col-xs-6 text-right">{{model.GamingBalance | currency : model.Currency : 0}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="back-to-games bg-gz visible-lg" ng-click="backToGames()">
                    <img src="@Url.Content("~/Content/Images/games_white.svg")" alt="Games" />
                    <span>BACK TO GAMES</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="summary-section investments-schedule">
                <div class="text-center">
                    <img src="@Url.Content("~/Content/Images/calendar.svg")" alt="Diagram" class="icon" />
                </div>
                <div class="side-box">
                    <div class="side-box-table">
                        <div class="side-box-table-head">
                            <div class="row">
                                <div class="col-xs-12">Next Investment on:</div>
                            </div>
                        </div>
                        <div class="side-box-table-body">
                            <div class="row">
                                <div class="col-xs-12 text-left">{{model.NextInvestmentOn | ordinalDate : 'MMMM d'}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="side-box-table">
                        <div class="side-box-table-head">
                            <div class="row">
                                <div class="col-xs-12">Investment amount:</div>
                            </div>
                        </div>
                        <div class="side-box-table-body">
                            <div class="row">
                                <div class="col-xs-12 text-left">{{model.LastInvestmentAmount | currency : model.Currency : 0}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="side-box-table">
                        <div class="side-box-table-foot">
                            <div class="row">
                                <div class="col-xs-12 text-left">
                                    *Status as of {{model.StatusAsOf | date : 'MMM d, h:mm a'}} - 50% of net losses (cach in - cash out - investment balance)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visible-lg">
                    <div class="withdraw" ng-click="!model.CanWithdraw || withdraw()" ng-class="{'disabled': !model.CanWithdraw}"
                         ng-mouseenter="withdrawHovered = true;" ng-mouseleave="withdrawHovered = false;">
                        <img src="@Url.Content("~/Content/Images/cash.svg")" alt="Cash" />
                        <span>WITHDRAW</span>
                    </div>
                    <div class="withdraw-msg" ng-class="{'show': withdrawHovered}">
                        {{model.WithdrawMsg}} {{model.WithdrawDate | ordinalDate : 'd MMM yy'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row hidden-lg">
        <div class="col-xs-12 col-sm-6 col-sm-push-6">
            <div class="withdraw" ng-click="!model.CanWithdraw || withdraw()" ng-class="{'disabled': !model.CanWithdraw}"
                 ng-mouseenter="withdrawHovered = true;" ng-mouseleave="withdrawHovered = false;">
                <img src=" @Url.Content("~/Content/Images/cash.svg") " alt=" cash" />
                <span>WITHDRAW</span>
            </div>
            <div class="withdraw-msg" ng-class="{'show': withdrawHovered}">
                {{model.WithdrawMsg}} {{model.WithdrawDate | ordinalDate : 'd MMM yy'}}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6">
            <div class="back-to-games" ng-click="backToGames()">
                <img src="@Url.Content("~/Content/Images/games_white.svg")" alt="Games" />
                <span>BACK TO GAMES</span>
            </div>
        </div>
    </div>
</div>


