@*<header ng-controller="headerCtrl">
    <div class="container-fluid">
        <a id="logo" class="navbar-brand" href="/">
            <img src="@Url.Content("~/Content/images/logo.svg")" alt="Logo" />
            <h2 class="visible-lg">GREENZORRO</h2>
        </a>
        <div class="links">
            <nav class="cl-effect">
                <ul ng-if="!isAuthenticated" class="links-guest">
                    <li ng-repeat="route in routes.guest">
                        <a ng-href="{{route.path}}" ng-class="getClass(route.path)">{{route.title}}</a>
                    </li>
                </ul>
                <ul ng-if="isAuthenticated" class="links-games" ng-show="gamesMode">
                    <li ng-repeat="route in routes.games">
                        <a ng-href="{{route.path}}" ng-class="getClass(route.path)">{{route.title}}</a>
                    </li>
                </ul>
                <ul ng-if="isAuthenticated" class="links-investments" ng-hide="gamesMode">
                    <li ng-repeat="route in routes.investments">
                        <a ng-href="{{route.path}}" ng-class="getClass(route.path)">{{route.title}}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>*@




<header ng-controller="headerCtrl">
    <nav class="navbar navbar-default navbar-static-top" ng-class="{'navbar-initial': !scrolled}">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="logo" class="navbar-brand" href="/">
                    <img src="@Url.Content("~/Content/images/logo.svg")" alt="Logo" />
                    <h2 class="visible-lg">GREENZORRO</h2>
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-collapse-section">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-top-bar"></span>
                    <span class="icon-bar icon-middle-bar"></span>
                    <span class="icon-bar icon-bottom-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse " id="header-collapse-section">
                <span ng-if="isAuthenticated" class="user-info">
                    <span class="user-avatar">
                        <span class="user-initials img-circle">{{initials}}</span>
                    </span>
                    <span class="user-name">{{name}}</span>
                    <a ng-click="logout()">Logout</a>
                </span>
                <div class="nav-links-btns">
                    <div class="links">
                        <nav class="cl-effect">
                            <ul ng-if="!isAuthenticated" class="links-guest">
                                <li ng-repeat="route in routes.guest">
                                    <a ng-href="{{route.path}}" ng-class="getClass(route.path)">{{route.title}}</a>
                                </li>
                            </ul>
                            <ul ng-if="isAuthenticated" class="links-games" ng-show="gamesMode">
                                <li ng-repeat="route in routes.games">
                                    <a ng-href="{{route.path}}" ng-class="getClass(route.path)">{{route.title}}</a>
                                </li>
                            </ul>
                            <ul ng-if="isAuthenticated" class="links-investments" ng-hide="gamesMode">
                                <li ng-repeat="route in routes.investments">
                                    <a ng-href="{{route.path}}" ng-class="getClass(route.path)">{{route.title}}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="nav-btns">
                        <a ng-if="!isAuthenticated" class="nav-btn-login" ng-click="login()">
                            <img src="@Url.Content("~/Content/Images/login.png")" />
                            <p>LOGIN</p>
                        </a>
                        <a ng-if="isAuthenticated" class="nav-btn-games" ng-show="gamesMode" ng-click="toInvestments()">
                            <img src="@Url.Content("~/Content/Images/diagram.svg")" />
                            <p>TO INVESTMENTS</p>
                        </a>
                        <a ng-if="isAuthenticated" class="nav-btn-investments" ng-hide="gamesMode" ng-click="backToGames()">
                            <img src="@Url.Content("~/Content/Images/games.svg")" />
                            <p>BACK TO GAMES</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>


