@model gzWeb.Areas.Mvc.Models.UserInfoViewModel

<header ng-controller="headerCtrl">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a id="logo" class="navbar-brand" href="/">
                    <img class="pull-left" src="@Url.Content("~/Content/images/logo.svg")" alt="Logo" />
                    <h2 class="pull-left">GREENZORRO</h2>
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-collapse-section">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-top-bar"></span>
                    <span class="icon-bar icon-middle-bar"></span>
                    <span class="icon-bar icon-bottom-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse " id="header-collapse-section">
                @if (Model.IsAuthenticated)
                {
                    <span class="user-info pull-left">
                        <span class="user-avatar">
                            @if (String.IsNullOrEmpty(Model.Img))
                            {
                                <span class="user-initials img-circle">@Model.Initials</span>
                            }
                            else
                            {
                                <img class="user-img img-circle" src="@Model.Img" alt="User Image" />
                            }
                        </span>
                        <span class="user-name">@Model.Name</span>
                    </span>
                }
                <div class="nav-btns pull-right">
                    @if (!Model.IsAuthenticated)
                    {
                        <a class="nav-btn-login">
                            <img src="@Url.Content("~/Content/Images/login.png")" />
                            <p>LOGIN</p>
                        </a>
                    }
                    else
                    {
                        <a class="nav-btn-games" ng-show="gamesMode" ng-click="gamesMode = !gamesMode">
                            <img src="@Url.Content("~/Content/Images/diagram.svg")" />
                            <p>TO INVESTMENTS</p>
                        </a>
                        <a class="nav-btn-investments" ng-hide="gamesMode" ng-click="gamesMode = !gamesMode">
                            <img src="@Url.Content("~/Content/Images/games.svg")" />
                            <p>BACK TO GAMES</p>
                        </a>
                    }
                </div>
                <div class="links">
                    <nav class="cl-effect">
                        @if (!Model.IsAuthenticated)
                        {
                            <ul class="links-guest">
                                <li ng-repeat="route in routes.guest"><a ng-href="{{route.path}}" ng-class="getClass(route.path)">{{route.title}}</a></li>
                            </ul>
                        }
                        else
                        {
                            <ul class="links-games" ng-show="gamesMode">
                                <li ng-repeat="route in routes.games"><a ng-href="{{route.path}}" ng-class="getClass(route.path)">{{route.title}}</a></li>
                            </ul>
                            <ul class="links-investments" ng-hide="gamesMode">
                                <li ng-repeat="route in routes.investments"><a ng-href="{{route.path}}" ng-class="getClass(route.path)">{{route.title}}</a></li>
                            </ul>
                        }
                    </nav>
                </div>
            </div>


        </div>
    </nav>
</header>


