<!DOCTYPE html>
<html lang="en" ng-class="{'mobile':mobile}"> @* ng-app="GZ" ng-strict-di *@
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="/apple-touch-icon.png" rel="apple-touch-icon-precomposed" />
    <title>greenzorro</title>
    <base href="/" />
    @*@Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/fa")
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700,400italic,500italic,700italic&subset=latin,greek' rel='stylesheet' type='text/css'>
    @Styles.Render("~/css/app")*@
    @*@Styles.Render("~/css/preloader")*@
</head>
<body ng-cloak ng-class="{'mobile-menu':mobileMenuExpanded}">
    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")

    @*@Scripts.RenderFormat("<script type=\"text/javascript\">AsyncLoad.LoadScripts('{0}')</script>", "~/js/jquery")
        @Scripts.RenderFormat("<script type=\"text/javascript\">AsyncLoad.LoadScripts('{0}')</script>", "https://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz")
        @Scripts.RenderFormat("<script type=\"text/javascript\">AsyncLoad.LoadScripts('{0}')</script>", "https://mpsnare.iesnare.com/snare.js")
        @Scripts.RenderFormat("<script type=\"text/javascript\">AsyncLoad.LoadScripts('{0}')</script>", "https://maps.googleapis.com/maps/api/js?key=AIzaSyDpw0KfgLOdZYUYqcNsV3DjdIQ2wqj2oSo&libraries=places")
        @Scripts.RenderFormat("<script type=\"text/javascript\">AsyncLoad.LoadScripts('{0}', 'vcRecaptchaApiLoaded')</script>", "https://www.google.com/recaptcha/api.js?render=explicit")
        @Html.Raw(JSNLog.JavascriptLogging.Configure())
        @Scripts.RenderFormat("<script type=\"text/javascript\">AsyncLoad.LoadScripts('{0}')</script>", "~/js/plugins")
        @Scripts.RenderFormat("<script type=\"text/javascript\">AsyncLoad.LoadScripts('{0}')</script>", "~/js/bootstrap")
        @Scripts.RenderFormat("<script type=\"text/javascript\">AsyncLoad.LoadScripts('{0}')</script>", "~/js/d3")
        @Scripts.RenderFormat("<script type=\"text/javascript\">AsyncLoad.LoadScripts('{0}')</script>", "~/js/angular")
        @Scripts.RenderFormat("<script type=\"text/javascript\">AsyncLoad.LoadScripts('{0}')</script>", "~/js/modules")
        @Scripts.RenderFormat("<script type=\"text/javascript\">AsyncLoad.LoadScripts('{0}')</script>", "~/js/app")*@

    @Scripts.Render("~/js/asyncLoad")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\">AsyncLoad.AddStyles('{0}')</script>", "https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700,400italic,500italic,700italic&subset=latin,greek")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\">AsyncLoad.AddStyles('{0}')</script>", "~/css/bootstrap")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\">AsyncLoad.AddStyles('{0}')</script>", "~/css/fa")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\">AsyncLoad.AddStyles('{0}')</script>", "~/css/app")
    @*<script type="text/javascript" data-remove="true">AsyncLoad.LoadStyles()</script>*@

    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "~/js/jquery")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "https://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "https://mpsnare.iesnare.com/snare.js")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "https://maps.googleapis.com/maps/api/js?key=AIzaSyDpw0KfgLOdZYUYqcNsV3DjdIQ2wqj2oSo&libraries=places")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit")
    @Html.Raw(JSNLog.JavascriptLogging.Configure())
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "~/js/plugins")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "~/js/bootstrap")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "~/js/d3")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "~/js/angular")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "~/js/modules")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "~/js/app")

    <script type="text/javascript" data-remove="true">AsyncLoad.Load()</script>

    @*@Scripts.Render("~/js/jquery")
        <script type="text/javascript" src="https://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz" defer></script>
        <script type="text/javascript" src="https://mpsnare.iesnare.com/snare.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpw0KfgLOdZYUYqcNsV3DjdIQ2wqj2oSo&libraries=places"></script>
        <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
        @Html.Raw(JSNLog.JavascriptLogging.Configure())
        @Scripts.Render("~/js/plugins")
        @Scripts.Render("~/js/bootstrap")
        @Scripts.Render("~/js/d3")
        @Scripts.Render("~/js/angular")
        @Scripts.Render("~/js/modules")
        @Scripts.Render("~/js/app")*@
</body>
</html>
