<!DOCTYPE html>
<html lang="en" ng-class="{'mobile':mobile}" ng-strict-di>
<head prefix="og: http://ogp.me/ns#">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="greenzorro is a online gambling operator that combines gambling with investing, offering a unique value proposition to players">
    <meta name="keywords" content="greenzorro, gambling, gaming, games, casino, portfolio, investment, returns, roi, return on investment, jackpot, slots, poker, scratch">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta property="og:site_name" content="greenzorro" />
    <meta property="og:title" content="greenzorro" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.greenzorro.com" />
    <meta property="og:image" content="/apple-touch-icon.png" />
    <meta property="og:description" content="greenzorro is a online gambling operator that combines gambling with investing, offering a unique value proposition to players" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="/apple-touch-icon.png" rel="apple-touch-icon-precomposed" />
    <title>greenzorro</title>
    <base href="/" />

    <style type="text/css">
        *{margin:0;padding:0}#preloader{position:fixed;top:0;width:100%;height:100%;z-index:20000000000;overflow-y:hidden;background-color:#27a95c;opacity:1;transition:all linear 1s;text-align:center}#preloader.die{opacity:0}.loader{display:inline-block;width:30px;height:30px;position:relative;border:4px solid #fff;top:50%;animation:loader 2s infinite ease}.loader-inner{vertical-align:top;display:inline-block;width:100%;background-color:#fff;animation:loader-inner 2s infinite ease-in}@@keyframes loader{0%{transform:rotate(0deg)}25%{transform:rotate(180deg)}50%{transform:rotate(180deg)}75%{transform:rotate(360deg)}100%{transform:rotate(360deg)}}@@keyframes loader-inner{0%{height:0%}25%{height:0%}50%{height:100%}75%{height:100%}100%{height:0%}}#body-content{display:none;visibility:hidden;position:absolute;top:200vh}
    </style>
    @*@Styles.Render("~/css/preloader")*@

    @if (Request.Url != null && Request.Url.AbsoluteUri.Contains("greenzorro.com")) {
        <script>
            (function(h, o, t, j, a, r) {
                h.hj = h.hj || function() { (h.hj.q = h.hj.q || []).push(arguments) };
                h._hjSettings = { hjid: 612452, hjsv: 5 };
                a = o.getElementsByTagName('head')[0];
                r = o.createElement('script');
                r.async = 1;
                r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
                a.appendChild(r);
            })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
        </script>
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102634082-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments)};
            gtag('js', new Date());
            gtag('config', 'UA-102634082-1');
        </script>
    }
</head>
<body ng-class="{'mobile-menu':mobileMenuExpanded,'fonts-loaded':fontsLoaded}">
    <div id="preloader">
        <div class="loader">
            <div class="loader-inner"></div>
        </div>
    </div>

    <div id="loading-error"></div>

    <div id="body-content">
        <div ng-cloak>
            <ns-messages ns-modals="nsModals" ns-notifications="nsNotifications" ns-toastrs="nsToastrs"></ns-messages>
            <div id="header"></div>
            @RenderBody()
            <div id="footer"></div>
        </div>
    </div>
    @*<div id="body-rest" style="background-color:#1A1A1A;"></div>*@

    <script type="text/javascript">
            var AsyncLoad = function () { "use strict"; function s(n, t) { var i = function () { var i = document.createElement("link"), r; i.rel = "stylesheet"; i.href = n; r = document.getElementsByTagName("HEAD")[0]; r.appendChild(i, r); o(); typeof t == "function" && t() }, r = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame; r ? r(i) : window.addEventListener("load", i) } function u() { if (n.length > 0) { var t = n.splice(0, 1)[0]; s(t, function () { u(n) }) } } function h(n, t) { var i, r, u; r = !1; i = document.createElement("script"); i.type = "text/javascript"; i.src = n; i.onload = i.onreadystatechange = function () { r || this.readyState && this.readyState != "complete" || (r = !0, o(), typeof t == "function" && t()) }; i.onerror = function () { var r = document.getElementsByTagName("BODY")[0], t = document.getElementById("preloader"), n, i; t && (t.className = "die", setTimeout(function () { r.removeChild(t) }, 1e3)); n = document.createElement("img"); n.setAttribute("id", "bg"); n.className = "bg"; n.src = "../../Content/Images/casino-default.png"; r.appendChild(n); i = document.getElementById("loading-error"); i.className = "loading-error"; i.innerHTML = '<div style="line-height: 3em;font-size: 24px;">No dice for now...<\/div><div style="line-height: 3em;font-size: 24px;">...greenzorro apologizes<\/div><div style="line-height: 3em;font-size: 36px;">:(<\/div>' }; u = document.getElementsByTagName("BODY")[0]; u.appendChild(i) } function f() { if (t.length > 0) { var n = t.splice(0, 1)[0]; h(n.src, function () { typeof n.callback == "function" && n.callback(); f(t) }) } } function e() { return n.length + t.length } function o() { var t = e(), i = Math.floor((r - t) / r * 100), n = document.getElementById("loading-percentage"); n && (n.innerHTML = "", n.appendChild(document.createTextNode(i + " %"))) } function c(n) { for (var u = document.getElementsByTagName("SCRIPT"), r = [], i, t = 0; t < u.length; t++) i = u[t], i.getAttribute(n) && r.push(i); for (t = 0; t < r.length; t++) i = r[t], i.parentElement.removeChild(i) } var n = [], t = [], r = 0, i = {}; return i.AddStyles = function (t) { n.push(t) }, i.AddScripts = function (n, i) { t.push({ src: n, callback: i }) }, i.Load = function () { r = e(); u(); f(); c("data-remove") }, i }(AsyncLoad);
    </script>

    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddStyles('{0}')</script>", "~/css/bootstrap")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddStyles('{0}')</script>", "~/css/bootstrap-theme")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddStyles('{0}')</script>", "~/css/fa")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddStyles('{0}')</script>", "~/css/app")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "~/js/jquery")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "~/js/plugins")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "~/js/bootstrap")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "~/js/d3")
@if (Request.Url != null && Request.Url.AbsoluteUri.Contains("greenzorro.com"))
{
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "https://cd4c451b-bda3-48ab-975c-f4f82f05088d.snippet.antillephone.com/apg-seal.js")
}
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "~/js/angular")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "~/js/modules")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "~/js/app")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" async defer></script>", "https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.27/webfontloader.js")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" async defer></script>", "https://mpsnare.iesnare.com/snare.js")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" async defer></script>", "https://maps.googleapis.com/maps/api/js?key=AIzaSyDpw0KfgLOdZYUYqcNsV3DjdIQ2wqj2oSo&libraries=places")
    @*@Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit")*@
    <script type="text/javascript" data-remove="true">if (window.addEventListener) window.addEventListener("load", AsyncLoad.Load); else if (window.attachEvent) window.attachEvent("onload", AsyncLoad.Load); else window.onload = AsyncLoad.Load; </script>
    @Html.Raw(JSNLog.JavascriptLogging.Configure())
</body>
</html>
