<!DOCTYPE html>
<html lang="en" ng-class="{'mobile':mobile}" ng-strict-di>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="/apple-touch-icon.png" rel="apple-touch-icon-precomposed" />
    <title>greenzorro</title>
    <base href="/" />
    @Styles.Render("~/css/preloader")
</head>
<body ng-class="{'mobile-menu':mobileMenuExpanded}">
    @Html.Partial("_Preloader")
    <div ng-cloak>
        @Html.Partial("_Header")
        @RenderBody()
        @Html.Partial("_Footer")
    </div>

    @Scripts.Render("~/js/asyncLoad")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\">AsyncLoad.AddStyles('{0}')</script>", "https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700,400italic,500italic,700italic&subset=latin,greek")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\">AsyncLoad.AddStyles('{0}')</script>", "~/css/bootstrap")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\">AsyncLoad.AddStyles('{0}')</script>", "~/css/fa")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\">AsyncLoad.AddStyles('{0}')</script>", "~/css/app")

    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "~/js/jquery")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "https://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "https://mpsnare.iesnare.com/snare.js")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "https://maps.googleapis.com/maps/api/js?key=AIzaSyDpw0KfgLOdZYUYqcNsV3DjdIQ2wqj2oSo&libraries=places")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "~/js/plugins")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "~/js/bootstrap")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "~/js/d3")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "~/js/angular")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "~/js/modules")
    @Scripts.RenderFormat("<script type=\"text/javascript\" data-remove=\"true\" defer>AsyncLoad.AddScripts('{0}')</script>", "~/js/app")

    <script type="text/javascript" data-remove="true">AsyncLoad.Load()</script>
    @Html.Raw(JSNLog.JavascriptLogging.Configure())
</body>
</html>
