<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Greenzorro Entertainment</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.3.1111/kendo.common.core.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.3.1111/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.3.1111/kendo.metro.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.3.1111/kendo.metro.mobile.min.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="content-wrapper">
                <div class="float-left">
                    <ul class="menu">
                        <li>
                            <a href='@Url.Action("Index", "Home")'>
                                <img src='@Url.Content("~/Content/images/gz_logo_sm.png")' />
                            </a>
                        </li>
                        <li>@Html.ActionLink("Investments", "Index", "Home")</li>
                        <li>@Html.ActionLink("Casino", "About", "Home")</li>
                        <li>@Html.ActionLink("Betting", "Contact", "Home")</li>
                    </ul>
                </div>
                <div class="float-right">
                    <nav>
                            @Html.Partial("_LoginPartial")
                    </nav>
                </div>
        </div>

    </header>
    <div id="body">
        <div class="content-wrapper">
            <hr />
        </div>
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <p>&copy; @DateTime.Now.Year - Greenzorro</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/kendo/2015.3.1111/kendo.ui.core.min.js"></script>
    <script src="~/Scripts/App/Views/Shared/layout.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
