<!DOCTYPE html>
<html lang="en" ng-app="GZ" ng-strict-di>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="/apple-touch-icon.png" rel="apple-touch-icon-precomposed" />

    <title ng-if="!documentTitle">Greenzorro</title>
    <title ng-if="documentTitle">{{documentTitle}}</title>
    <base href="/" />

    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/fa")
    @*@Styles.Render("~/css/app_old")*@
    @Styles.Render("~/css/app")
</head>
<body ng-cloak>
    <div class="non-footer">
        @{ Html.RenderAction("Header", "Home"); }
        @RenderBody()
    </div>
    <div class="footer">
        @Html.Partial("_Footer")
    </div>

    @Scripts.Render("~/js/jquery")
    <script>AUTOBAHN_DEBUG = true;</script>
    <script src="https://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    @Scripts.Render("~/js/plugins")
    @Scripts.Render("~/js/bootstrap")
    @Scripts.Render("~/js/d3")
    @Scripts.Render("~/js/angular")
    @Scripts.Render("~/js/modules")
    @Scripts.Render("~/js/app")

    <!--Start of Zopim Live Chat Script-->
    @*<script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
            d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                z.set.
                _.push(o)
            }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute("charset", "utf-8");
            $.src = "//v2.zopim.com/?3ql1n78VIwjWnWgVfrbuXG2sCMcCHPuM"; z.t = +new Date; $.
            type = "text/javascript"; e.parentNode.insertBefore($, e)
        })(document, "script");
    </script>*@
    <!--End of Zopim Live Chat Script-->


</body>
</html>
