@model gzWeb.Areas.Admin.Models.UserViewModel

@{
    ViewBag.Title = "User Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="admin admin-edit user-edit manage-pages">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 admin-interface">

                <div class="col-md-6">
                    <div class="row heading">
                        <h2 class="text-gz">User Edit</h2>
                        <h4>Manage</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row heading text-right">
                        @Html.ActionLink("Back to List", "Users")
                    </div>
                </div>

                <div class="col-md-12 bg-gz">
                    <div class="row content">
                        @using (Html.BeginForm("UserEdit","Manage", new {Area="Admin"}, FormMethod.Post, new { id="userForm" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                                    @Html.HiddenFor(model => model.User.Id)

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.User.UserName, htmlAttributes: new {@class = "control-label col-md-2"})
                                        <div class="col-md-12">
                                            <input class="form-control text-box single-line" id="User_Name" name="UserName" type="text" value="@Model.User.UserName" readonly="readonly"/>
                                            @*@Html.ValidationMessageFor(model => model.User.UserName, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.User.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-12">
                                            <input class="form-control text-box single-line" id="User_Email" name="Email" type="text" value="@Model.User.Email" readonly="readonly" />
                                            @*@Html.ValidationMessageFor(model => model.User.UserName, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.User.LastName, htmlAttributes: new {@class = "control-label col-md-2"})
                                        <div class="col-md-12">
                                            <input class="form-control text-box single-line" id="User_LastName" name="LastName" type="text" value="@Model.User.LastName"/>
                                            @*@Html.EditorFor(model => model.Role.Name, new { htmlAttributes = new { @class = "form-control" } })*@
                                            @Html.ValidationMessageFor(model => model.User.LastName, "", new {@class = "text-danger"})
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.User.FirstName, htmlAttributes: new {@class = "control-label col-md-2"})
                                        <div class="col-md-12">
                                            <input class="form-control text-box single-line" id="User_FirstName," name="FirstName" type="text" value="@Model.User.FirstName"/>
                                            @*@Html.EditorFor(model => model.Role.Name, new { htmlAttributes = new { @class = "form-control" } })*@
                                            @Html.ValidationMessageFor(model => model.User.FirstName, "", new {@class = "text-danger"})
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.User.GmCustomerId, htmlAttributes: new {@class = "control-label col-md-2"})
                                        <div class="col-md-12">
                                            <input class="form-control text-box single-line" id="User_GmCustomerId" name="GmCustomerId" type="text" value="@Model.User.GmCustomerId"/>
                                           @*@Html.EditorFor(model => model.Role.Name, new { htmlAttributes = new { @class = "form-control" } })*@
                                            @Html.ValidationMessageFor(model => model.User.GmCustomerId, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-default col-md-12"/>
                                    </div>
                                </div>
                            </div>*@

                        @*}*@

                            <div class="row listboxes">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <div class="col-xs-5">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <label>All Roles</label>
                                            </div>
                                            <div class="col-xs-12">
                                                @Html.ListBoxFor(model => model.Roles, Model.Roles.Select(x => new SelectListItem {Value = x.Id.ToString(), Text = x.Name}), new {size = 20})
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-xs-2">
                                        <div class="form-group text-center">
                                            <input type="button" value="Add" class="btn btn-default" onclick="addItem();"/>
                                            <input type="button" value="Remove" class="btn btn-default" onclick="removeItem();"/>
                                        </div>
                                    </div>

                                    <div class="col-xs-5">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <label>User's Roles</label>
                                            </div>
                                            <div class="col-xs-12">
                                                @Html.ListBoxFor(model => model.RolesOfUser, Model.RolesOfUser.Select(x => new SelectListItem {Value = x.Id.ToString(), Text = x.Name}), new {size = 20})
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-default col-md-12" />
                                    </div>
                                </div>
                            </div>

                        }

                        @*@using (Html.BeginForm())
                        {
                            
                        }*@

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            // this event fires when the browser is about to submit a form
            $('#userForm').submit(function () {
                // modifies the 'selected' options on the list 
                // before finally being submitted by the browser
                $('#RolesOfUser option').prop('selected', true);
            });
        });

        function addItem() {
            $("#Roles option:selected").appendTo("#RolesOfUser");
            $("#RolesOfUser option").attr("selected", false);
        }
        //function addallItems() {
        //    $("#AvailableGenres option").appendTo("#ChosenGenres");
        //    $("#ChosenGenres option").attr("selected", false);
        //}
        function removeItem() {
            $("#RolesOfUser option:selected").appendTo("#Roles");
            $("#Roles option").attr("selected", false);
        }
        //function removeallItems() {
        //    $("#ChosenGenres option").appendTo("#AvailableGenres");
        //    $("#AvailableGenres option").attr("selected", false);
        //}
    </script>
}
