@model gzDAL.Models.DynamicPage

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="admin admin-details dynamic-details">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 admin-interface">

                <div class="col-md-6">
                    <div class="row heading">
                        <h2 class="text-gz">Details</h2>
                        <h4>Dynamic Page</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row heading text-right">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>

                <div class="col-md-12 bg-gz">
                    <div class="row content">
                        <div class="col-xs-10 col-xs-offset-1 col-md-3">
                            <h4>@Html.DisplayNameFor(model => model.Id)</h4>
                            <h4>@Html.DisplayFor(model => model.Id)</h4>

                            <h4>@Html.DisplayNameFor(model => model.Code)</h4>
                            <h4>@Html.DisplayFor(model => model.Code)</h4>

                            <h4>@Html.DisplayNameFor(model => model.Category)</h4>
                            <h4>@Html.DisplayFor(model => model.Category)</h4>

                            <h4>@Html.DisplayNameFor(model => model.Live)</h4>
                            <h4>@Html.DisplayFor(model => model.Live)</h4>

                            <h4>@Html.DisplayNameFor(model => model.LiveFrom)</h4>
                            <h4>@Html.DisplayFor(model => model.LiveFrom)</h4>

                            <h4>@Html.DisplayNameFor(model => model.LiveTo)</h4>
                            <h4>@Html.DisplayFor(model => model.LiveTo)</h4>
                        </div>

                        <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-offset-0">
                            <div class="row">
                                <h4>
                                    @Html.DisplayNameFor(model => model.Html) (Read Only)
                                </h4>
                                <textarea class="form-control" rows=20 data-editor="html" name="Html">@Html.DisplayFor(model => model.Html)</textarea>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
<script>
        // Hook up ACE editor to all textareas with data-editor attribute
        $(function () {
            $('textarea[data-editor]').each(function () {
                var textarea = $(this);

                var mode = textarea.data('editor');

                var editDiv = $('<div>', {
                    position: 'absolute',
                    width: textarea.width(),
                    height: textarea.height(),
                    'class': textarea.attr('class')
                }).insertBefore(textarea);

                textarea.css('display', 'none');

                var editor = ace.edit(editDiv[0]);
                editor.renderer.setShowGutter(false);
                editor.getSession().setValue(textarea.val());
                editor.getSession().setMode("ace/mode/" + mode);
                // editor.setTheme("ace/theme/idle_fingers");

                // copy back to textarea on form submit...
                textarea.closest('form').submit(function () {
                    textarea.val(editor.getSession().getValue());
                })
                editor.textInput.getElement().disabled = true
            });
        });
</script>
}
