@model gzDAL.Models.DynamicPage

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="admin admin-details admin-actions">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 details-interface">

                <div class="col-md-12 text-center">
                    <div class="row heading">
                        <h2 class="text-gz">Details</h2>
                        <h4>Dynamic Page</h4>
                    </div>
                </div>

                <div class="col-md-12 bg-gz">
                    <div class="row content">
                        <div class="col-xs-8 col-xs-offset-2">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Id)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Id)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Code)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Code)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Category)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Category)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Live)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Live)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.LiveFrom)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.LiveFrom)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.LiveTo)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.LiveTo)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Html)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Html)
                                </dd>

                            </dl>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>