@{
    Layout = "~/Areas/Mvc/Views/Shared/_GuestLayout.cshtml";
}

<div class="about">

    <section class="about-top">
        <div class="container">
            <div class="background-image"></div>
            <div class="row">


                <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-7 idea-container">
                    <h5><b>Concept and principles</b></h5>

                    <p class="idea">
                        Greenzorro was conceived with the idea that players can get back much
                        more value for their spent. Players enjoy the upside but are protected
                        from the downside through the investment of their own losses. Greenzorro
                        will not generate any profit from gambling but only from management fees
                        on players investments.
                    </p>
                </div>

                <div class="col-sm-12 col-md-offset-1 col-md-4">
                    <img class="zorro" src="@Url.Content("~/Content/Images/logo_no_bg.svg")" />
                </div>

            </div>

            <div class="row to-achieve">
                <div class="col-sm-12 col-md-12">
                    <h6><b>To achieve maximum returns to users, Greenzorro operates on three principles:</b></h6>
                </div>
            </div>

            <div class="row three-principles">
                <div class="col-xs-8 col-xs-offset-2 col-md-offset-0 col-md-3">
                    <div class="spades center-block">
                        <img src="@Url.Content("~/Content/Images/spades.svg")" />
                        <span class="spades-number">1</span>
                    </div>
                    <p>Minimize unnecessary costs like marketing and advertising (can be as high as 40% for normal operators)</p>
                </div>

                <div class="col-xs-8 col-xs-offset-2 col-md-offset-1 col-md-3">
                    <div class="spades center-block">
                        <img src="@Url.Content("~/Content/Images/spades.svg")" />
                        <span class="spades-number">2</span>
                    </div>
                    <p>Constantly increase player user base to spread fixed costs</p>
                </div>

                <div class="col-xs-8 col-xs-offset-2 col-md-offset-1 col-md-3">
                    <div class="spades center-block">
                        <img src="@Url.Content("~/Content/Images/spades.svg")" />
                        <span class="spades-number">3</span>
                    </div>
                    <p>Allocate investments in a small number of diversities investment portfolios to ensure high, steady returns</p>
                </div>
            </div>
        </div>
    </section>

    <!-- MIDDLE CONTENT -->
    <section class="about-middle">
        <div class="container middle-container">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6">
                    <h5><b>Our mission</b></h5>
                    <p>
                        Create fully transparent, efficient and credible online
                        platform, where players can enjoy the thrill and upside
                        of gambling but safeguard their financial status.
                    </p>
                </div>
                <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <img class="laptop" src="@Url.Content("~/Content/Images/mac.png")" />
                </div>
            </div>
        </div>
    </section>

    <!-- BOTTOM CONTENT -->
    <section class="about-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6 motivation">
                    <h5><b>Our motivation</b></h5>
                    <p>
                        We love the thrill and fun side of gambling but dislike the negative sides: lost money, unfair
                        odds and the presence of some uncredible operators. We hope to alleviate the negatives
                        and legitimize gambling as another hobby that people can have without detrimental impact ontheir lives.
                    </p>
                </div>
                <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-5">
                    <h5><b>Our values</b></h5>
                    <p>Maximum value back to our players. Trust through transparency. Regulation, security and privacy</p>
                </div>
            </div>
        </div>
    </section>

</div>
