@{
    Layout = "~/Areas/Mvc/Views/Shared/_GuestLayout.cshtml";
}

<div class="home">
    @*<h1 class="text-center">GREENZORRO</h1>
    <h3 class="text-center">Casino and Investment platform</h3>
    <h6 class="text-center">v @typeof(MvcApplication).Assembly.GetName().Version</h6>*@

    <section class="top">
        <div class="container">

            <img class="laptop-big" src="@Url.Content("~/Content/Images/mac.png")" />
            <div class="row">
 
                <div class="col-xs-12 col-xs-pull-6 col-md-push-1 col-md-offset-6 col-md-6 right-heading">
                    <h2>Online casino.</h2>
                    <h2>Keep your winnings.</h2>
                    <h2><mark class="benefit-mark">Benefit from your losses.</mark></h2>
                    <h5>Fair | Transparent | Secure | Hedged</h5>

                    <button type="button" class="btn-gz sign-up-btn" ng-mouseover="signUpHovered = true;" ng-mouseleave="signUpHovered = false;">
                        <img ng-show="!signUpHovered" src="@Url.Content("~/Content/Images/games.svg")" />
                        <img ng-show="signUpHovered" src="@Url.Content("~/Content/Images/games_white.svg")" />
                        <span>sign up and play</span>
                    </button>

                    <a class="watch-video" ng-click="watchVideo()"><span class="glyphicon glyphicon-play"></span> Watch Video</a>

                </div>
            </div>
        </div>
    </section>

    <section class="middle">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-md-5">

                    <h3 class="say-hello">Say hello to the future of online gambling:</h3>

                    <p>
                        Greenzorro is a casino and sports betting platform
                        that offers all the upside of winning, but protects
                        players when losing, by allowing them to invest
                        all losses through the Greenzorro platform. Players
                        can choose from different investments products
                        and make investment returns to recoup losses.
                    </p>

                </div>

                <div class="col-sm-6 col-md-offset-2 col-md-5">

                    <h3>To achieve the highest possible return of losses to users, we:</h3>

                    <p><img src="@Url.Content("~/Content/Images/Gfalling-cube.png")" /> Minimize costs by eliminating unnecessary expenses.</p>

                    <p><img src="@Url.Content("~/Content/Images/Gfalling-cube.png")" /> Maximize investments returns through a diversified investments strategy.</p>

                </div>

            </div>
        </div>
    </section>

    <section class="bottom">
        <div class="container">
            <h3>THE PROCESS</h3>
            <div classs="row">
                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-4 col-md-offset-0 col-md-3 process-item">
                    <h4>1. Sign up</h4>
                    <img src="@Url.Content("~/Content/Images/signup.svg")" />
                    <p>Complete Greenzorro sign up opening process to start playing</p>
                </div>

                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-4 col-md-offset-1 col-md-3 process-item">
                    <h4>2. Play</h4>
                    <img src="@Url.Content("~/Content/Images/play.svg")" />
                    <p>Greenzorro features all popular real money Casino games</p>
                </div>
                <div class="col-sm-1 visible-sm"><p></p></div>

                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-3 process-item">
                    <h4>3. Sum</h4>
                    <img src="@Url.Content("~/Content/Images/sum.svg")" />
                    <p>At the end of each month, Greenzorro transfers your net losses (if any) minus operating costs to your investment account</p>
                </div>

                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-4 col-md-offset-0 col-md-3 process-item">
                    <h4>4. Invest</h4>
                    <img src="@Url.Content("~/Content/Images/invest_main.svg")" />
                    <p>Choose where to invest according to risk profile and watch your investments grow</p>
                </div>
                <div class="col-sm-1 visible-sm"><p></p></div>

                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-3 process-item">
                    <h4>5. Exit</h4>
                    <img src="@Url.Content("~/Content/Images/exit.svg")" />
                    <p>When you choose to exit you will receive cleared funds to the account of your choice</p>
                </div>

                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-4 col-md-offset-1 col-md-3 process-item">
                    <h4>6. Receive</h4>
                    <img src="@Url.Content("~/Content/Images/receive.svg")" />
                    <p>Receive cleared funds within 3-5 working days from exit</p>
                </div>
                <div class="col-sm-1 visible-sm"><p></p></div>
            </div>
        </div>
    </section>

</div>
