@{
    Layout = "~/Areas/Mvc/Views/Shared/_GuestLayout.cshtml";
}

<div class="transparency">
    <div class="container">
        <div class="row center-block header">
            <img class="center-block top-cube" src="@Url.Content("~/Content/Images/cube_white.svg")" />
            <h4 class="full-transparency">
                Full transparency in all aspects<br>
                of our operations to gain your trust:
            </h4>
        </div>

        <div class="row center-block main">
            <div class="center-block">
                <div class="col-xs-6 col-sm-4 item">
                    <img class="center-block" src="@Url.Content("~/Content/Images/payoutrates.svg")" />
                    <figcaption>Payout rates</figcaption>
                </div>

                <div class="col-xs-6 col-sm-4 item">
                    <img class="center-block" src="@Url.Content("~/Content/Images/revenues.svg")" />
                    <figcaption>Revenues</figcaption>
                </div>

                <div class="col-xs-6 col-sm-4 item">
                    <img class="center-block" src="@Url.Content("~/Content/Images/costs.svg")" />
                    <figcaption>Costs</figcaption>
                </div>

                <div class="col-xs-6 col-sm-4 item">
                    <img class="center-block" src="@Url.Content("~/Content/Images/salaries.svg")" />
                    <figcaption>Salaries</figcaption>
                </div>

                <div class="col-xs-6 col-sm-4 item">
                    <img class="center-block" src="@Url.Content("~/Content/Images/losses_returned.svg")" />
                    <figcaption>Losses returned</figcaption>
                </div>

                <div class="col-xs-6 col-sm-4 item">
                    <img class="center-block" src="@Url.Content("~/Content/Images/investments.svg")" />
                    <figcaption>Investements</figcaption>
                </div>
            </div>
        </div>

        <div class="row center-block footer-section">
            <h4 class="center-block we-report">
                We report this on an aggregate business level;<br>
                we fully respect every individual's confidential information
            </h4>
        </div>
    </div>
</div>
